<div class=“message”>
<% if current_student && message.user %>
     <p class=“message_username”><b><%= message.user.name %></b> 
     <span class=“message_timestamp”>
       <%= message.created_at%></p>
     </span>
     <span class=“message_timestamp”>
     </span>
     <span class=“message_star”></span>
     <span class=“message_content”>
       <h4><%= message.body%></h4>
     </span>
<% elsif  message.employee%>
     <a href='/employees/<%= message.employee.id %>' class=“message_username”><%= message.employee.full_name %></a>
     <span class=“message_timestamp”>
       <%= message.created_at %>
     </span>
     <span class=“message_timestamp”>
     </span>
     <span class=“message_star”></span>
     <span class=“message_content”>
       <h4><%= message.body%></h4>
     </span>
<% elsif  current_user && message.employee   %>
</div>

     <a href='/employees/<%= message.employee.id %>' class=“message_username”><%= message.employee.full_name %></a>
     <span class=“message_timestamp”>
       <%= message.created_at %>
     </span>
     <span class=“message_timestamp”>
     </span>
     <span class=“message_star”></span>
     <span class=“message_content”>
       <h4><%= message.body%></h4>
     </span>
<% elsif  message.user %>
     <p class=“message_username”><b><%= message.user.name %></b> 
     <span class=“message_timestamp”>
       <%= message.created_at %></p>  
     </span>
     <span class=“message_timestamp”>
     </span>
     <span class=“message_star”></span>
     <span class=“message_content”>
       <h4><%= message.body%></h4>
     </span>
<% end %>
</div>