<div class="container">
<h3>Edit Tutor's info</h3>
<%= form_tag "/employees/#{@employee.id}", method: :patch do %>
<p>Full Name: <input type="text" name="full_name" value="<%= @employee.full_name %>"></p>
<p>Email: <input type="email" name="email" value="<%= @employee.email %>"></p>
<p>Phone number: <input type="text" name="phone_number" value="<%= @employee.phone_number %>"></p>
<p>Bio: <input type="textarea" name="bio" value="<%= @employee.bio %>"></p>
<p>Courses Tutored: <input type="textarea" name="courses_tutored_1" value="<%= EmployeeSubject.where(employee_id: @employee.id).order(:created_at).first.courses_tutored if EmployeeSubject.where(employee_id: @employee.id).order(:created_at).first%>">
<select name="department_1">
<option value>--select department--</option>
              <% @subjects.each do |subject| %>
              <% if @emp_subjects_arr && @emp_subjects_arr.include?(subject.department)%>
                  <option selected value="<%= subject.id%>"><%= @emp_subjects_arr.first  %></option>
                <% else %>
                  <option value="<%= subject.id%>"><%= subject.department %></option>
              <% end %>
            <% end %>
      </select>
      <%if EmployeeSubject.where(employee_id: @employee.id).order(:created_at).first %>
      <%= link_to "delete", "/employee_subjects/#{EmployeeSubject.where(employee_id: @employee.id).order(:created_at).first.id}", method: :delete %>
      <% end %>
<p>Courses Tutored: <input type="textarea" name="courses_tutored_2" value="<%= EmployeeSubject.where(employee_id: @employee.id).order(:created_at).second.courses_tutored if EmployeeSubject.where(employee_id: @employee.id).order(:created_at).second %>"> 
      <select name="department_2">
             <option value>--select department--</option>
             <% @subjects.each do |subject| %>
              <% if @emp_subjects_arr && @emp_subjects_arr.second  && @emp_subjects_arr.include?(subject.department)%>
                  <option selected value="<%= subject.id%>"><%= @emp_subjects_arr.second  %></option>
                <% else %>
                  <option value="<%= subject.id%>"><%= subject.department %></option>
              <% end %>
            <% end %>
      </select>
          <% if EmployeeSubject.where(employee_id: @employee.id).order(:created_at).second %>
          <%= link_to "delete", "/employee_subjects/#{EmployeeSubject.where(employee_id: @employee.id).order(:created_at).second.id}", method: :delete %>
          <% end %>
          <!-- <a href="/employees/<%# e.id %>" data-method="delete" >delete</a> -->
</p>
<p>Image: <input type="text" name="image" value="<%= @employee.image %>"></p>
<%# if current_user && current_user.admin %>    
<p>Approved: <input type="text" name="approved" value="<%= @employee.approved %>"></p>
<p>Admin: <input type="text" name="admin" value="<%= @employee.admin %>"></p>
<%# end %>
<p><input class="btn"  type="submit"></p>
<% end %>
</div>

<!-- @employee.subjects.order(:created_at)[i] &&@employee.subjects.order(:created_at)[i].department==subject
 -->