<h2 class="little_right">All the tutors</h2>
<p class="little_right">
<%= link_to "printable schedules (pdf)", home_path(@employees, format: "pdf")  %>
<%= link_to "Manhattan schedules (pdf)", home_path(@employees, format: "pdf")  %>
<% if current_user %>
Hi <%= current_user.full_name %>
<% end %>
</p>
 <% @employees.where(approved:true).each_slice(3) do |employee_slice| %>
<div class="row well">
  <p><% employee_slice.each do |e| %></p>
  <div class="col-md-4">
    <div class="panel panel-default">
       <div class="panel-heading">
          <h3><a href="/employees/<%= e.id %>"><%= e.full_name %></a></h3>
        </div>
     <div class="panel-body">    
     <%# if current_user && current_user.admin %>            
        <p>
        <a href="/employees/<%= e.id %>/edit">Edit Profile</a> |
        <a href="/employees/<%= e.id %>/schedules/all/edit">Edit Schedule</a> |
        <a href="/employees/<%= e.id %>/schedules/new">Submit upcoming schedule</a> |
        <a href="/employees/<%= e.id %>" data-method="delete" data-confirm="Blah blah" >Delete Tutor</a>
        </a>
        </p>
        <% #end %>
  <h5> <%= EmployeeSubject.where(employee_id: e.id).map{|course| course.courses_tutored}.join(" ") %></h5>
      <!-- <ul> -->
        <% e.locations.each_slice(2) do |location_slice| %>
          <!-- <div class="row well"> -->
          <% location_slice.each do |location|  %>
            <div class="col-md-6 left ">
                <h5><%= location.name if e.timeslots.where(location_id: location.id, approved:false).any? %></h5>
                <%  e.timeslots.where(location_id: location.id, approved:false).each do |time|%>
                <h5><%= time.days %></h5>
                <p>
                <%= time.start_time %>-<%= time.end_time %> 
                </p>
                 <% end %>
             </div>
            <% end %>
             <!-- </div> -->
        <%end %>
      <!-- </ul> -->
    </div>
 </div>
</div>
<% end %>
</div>
<% end %>