<h1>This is <%= @employee.full_name %>'s page</h1>
<hr>
<% if current_user && (current_user.admin || current_user.full_name==  @employee.full_name) %> 
<div class="little_right"> 
<a href="/employees/<%= @employee.id %>/edit">Edit Profile</a> |
<a href="/employees/<%= @employee.id %>/schedules/all/edit">Edit Schedule</a> |
<a href="/employees/<%= @employee.id %>/schedules/new">Submit upcoming schedule</a> |
<a href="/newpassword">Update your password</a> 
</div>    
<% end %>
<% #if current_student %>
<a class="little_right" href="/chatrooms/<%= @employee.chatroom.id %>">Chat with the tutor</a>
<% #end %>
<hr>
<div class="container">
  <div class="row">
      <div class="col-md-4 col-sm-5">
            <div>
               <% if @current_user_photo && @current_user_photo == Photo.where(employee_id: params[:id]).last %>
                  <%= image_tag(@current_user_photo.image.url, :class => "img-rounded img-responsive") %>
                <% else %>
              <img  class="little_right" src="https://placehold.it/300x300.png" > 
            <% end %>
              </div>
      </div>
      <div class="col-md-8 col-sm-7 test-padding">
            <div class="middle" >
            <h3 >About <%= @employee.full_name %></h3>
            <p class=""><%= @employee.bio %></p>
            </div>
        
      </div>
  </div>
</div> 
  <% if current_user &&current_user.full_name==  @employee.full_name %> 
  <div class="little_right">
      <% if @current_user_photo %>
        <%= form_tag "/photos", method: :patch do %>
        <a href="/photos">Change profile picture</a>
        <% end %>
      <%else %>
      <a href="/photos">Add profile picture</a>
      <% end %>
  <% end %>
  </div>
  <hr>
<div class="row well little_right">
<% @employee.locations.each_slice(3) do |location_slice|  %>
<div class="col-md-4">
<% location_slice.each do |location| %>
    <h5><%= location.name if @employee.timeslots.where(location_id: location.id, approved:false).any? %></h5>
    <% #Location.find(location.id).employees.find(e.id).timeslots.where(approved: false).each do |time|%>
    <%  @employee.timeslots.where(location_id: location.id, approved:false).each do |time|%>
     <h5><%= time.days %></h5>
     <p>
      <%= time.start_time %>-<%= time.end_time %> 
      </p>
       <% end %>
       </div>
       <% end %>
       </div>
    <%end %>
   
