<h1>This is <%= @employee.full_name %>'s page</h1>

<h4>Please Edit your schedule for the coming semester</h4>
<%= form_tag "/employees/#{@employee.id}/schedules/all", method: :patch do %>
Semester: <select name="semester">
        <% @semesters.each do |semester| %>
          <option value="<%= semester %>"><%= semester %></option>
        <% end %>
    </select>
    <% for i in 1..4#4.times do |i| %>
<p>Day(s): <input type="text" name="day<%= i %>" > 
      Campus: <select name="location_id_<%= i %>">
        <% @locations.each do |location| %>
          <option value="<%= location.id %>"><%= location.name %></option>
        <% end %>
      </select>
      <%  if i <= @timeslots.length %>
      Approve Schedule: <input type="text" name="approved<%= i %>" value="<%=@timeslots[i-1].approved  %>">
      <% end %>
</p>
<% 3.times do |j| %>
  <p>
       Start time: <input type="text" name="day<%= i %>_start_time<%= j+1 %>" >
       End time: <input type="text" name="day<%= i %>_end_time<%= j+1 %>" >  
   </p>
          <% end %>
        <% end %>
       <p><input class="btn" type="submit" value="submit"></p>
<% end %>








