<h1>This is <%= @employee.full_name %>'s page</h1>

<h4>Please Edit your schedule for the coming semester</h4>
<%= form_tag "/employees/#{@employee.id}/schedules/all", method: :patch do %>
      Semester: <select name="semester">
                              <% i=0 %>
                              <% @semesters.each do |semester| %>
                              <% if  @timeslots.order(:created_at)[i] %>
                                <option ><%= @timeslots.order(:created_at)[i].semester %></option>
                                <option ><%= semester %></option>
                                <% else %>
                                <option ><%= semester %></option>
                              <% end %>
                              <% i= i+1 %>
                              <% end %>
                       </select>
<% for i in 1..4#4.times do |i| %>
    <% if @timeslots[i-1] %>
        <p>Day(s): <input type="text" value="<%=@employee.timeslots[i-1].days  %>" name="day<%= i %>" > 
    <% else %>
        <p>Day(s): <input type="text" name="day<%= i %>" > 

    <% end %>
    Campus: <select name="location_id_<%= i %>">
     <% j = i %>
     <% Location.all.each do |location| %>
        <% if @locations[j-1] %>
          <option value="<%= location.id %>"><%= @locations[j-1].name %></option>
          <% j=j+1 %>
        <% else %>
          <option value="<%= location.id %>"><%= location.name %></option>
        <% end %>
      <% end %>
      </select>
     <%  if i <= @timeslots.length %>
        Approve Schedule: <input type="text" name="approved<%= i %>" value="<%=@timeslots[i-1].approved  %>">
      <% end %>
      </p>
    <% 3.times do |j| %>
          <% if @timeslots[i-1] && @employee.timeslots.where(days: @timeslots[i-1].days)[j] %>
             <p>

                 Start time: <input type="text" value="<%= @employee.timeslots.where(days: @timeslots[i-1].days)[j].start_time %>" name="day<%= i %>_start_time<%= j+1 %>" >
                 End time: <input type="text" value="<%= @employee.timeslots.where(days: @timeslots[i-1].days)[j].end_time %>"  name="day<%= i %>_end_time<%= j+1 %>" >  <button>X</button>
                 <%= link_to "delete", "/employee_time_slots/#{@employee.timeslots.where(days: @timeslots[i-1].days)[j].employee_time_slots.find_by(employee_id: @employee.id).id}", method: :delete %>
             </p>
          <% else %>
    <p>
       Start time: <input type="text"  name="day<%= i %>_start_time<%= j+1 %>" >
       End time: <input type="text" name="day<%= i %>_end_time<%= j+1 %>" >  
   </p>
      <% end %>
   <% end %>
<% end %>
       <p><input class="btn" type="submit" value="submit"></p>
<% end %>








