<link href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css"/>
<div class="header">
  <div class="team-menu"> Chat</div>
  <div class="channel-menu">
    <span class="channel-menu_name"><span class="channel-menu_prefix"></span></span>
  </div>
</div>
<div class="main">
  <div class="listings">
    <div class="listings_channels">
      <h2 class="listings_header"></h2>
      <ul class="channel_list">
        <li class="channel active">
        </li>
        <li class="channel">
        </li>
      </ul>
    </div>
    <div class="listings_direct-messages">
      <h2 class="listings_header">List of names this user has talked to</h2>
      <ul class="channel_list">
        <li class="channel ">
        <% if @chatrooms_employee %>
        <% @chatrooms_employee.each do |chatroom| %>
            <%= link_to "#{chatroom.user.name}", room_path(chatroom) %></br> 
             <% end %>
            <% elsif @chatrooms_students %>
            <% @chatrooms_students.each do |chatroom| %>
            <%= link_to "#{chatroom.employee.full_name} ", room_path(chatroom)%><br> 
             <% end %>
             <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="message-history" id="messages">
    <%= render @messages %>
  </div>
  
</div>
<div class="footer">
<div style="position: relative; width: 100%; height: 2em; bottom: 0; left: 225px;">
    <input type="text"  id="message_input" class="input-box" placeholder="Type your message here and press enter to send"/>
  </div>
  <div class="user-menu">
  <% if current_student %>
    <span class="user-menu_username"><%= current_student.name %></span>
    <span class="connection_status">online</span>
    <input type="hidden" value="<%= params[:id] %>" id="conversation_id">
<input type="hidden" value="<%= current_student.id %>" id="user_id">
    <% elsif current_user %>
    <span class="user-menu_username"><%= current_user.full_name %></span>
    <span class="connection_status">online</span>
   
    <input type="hidden" value="<%= params[:id] %>" id="conversation_id">
    <input type="hidden" value="<%= current_user.id %>" id="employee_id">
    <% end %>
  </div>
</div>